body{
    margin: 0;
    background-image: url("images/pink.jpg");
    background-repeat: repeat;
    font-family: sans-serif;
}

header{
    height: 50px;
}

h1{
    text-align: center;
    background-color: khaki;
}

div{
    display: flex;
}

main{
    flex: 1;
}

nav{
    width: 300px;
}

footer{
    height: 200px;
}